<div class="page-header">
  <h3>Firm #<%= @firm.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @firm.name %></dd>

      <dt>Mappable address</dt>
      <dd><%= @firm.mappable_address %></dd>

      <dt>Address</dt>
      <dd><%= @firm.address %></dd>

      <dt>Category</dt>
      <dd><%= @firm.category %></dd>

      <dt>City</dt>
      <dd><%= @firm.city %></dd>

      <dt>State</dt>
      <dd><%= @firm.state %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/firms" class="btn btn-primary">
        Back
      </a>
      <a href="/firms/<%= @firm.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_firm/<%= @firm.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Firm has many visits -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Visits
      </li>

      <% @firm.visits.each do |bookmark| %>
        <li class="list-group-item">
          <a href="/bookmarks/<%= bookmark.id %>">
            <%= bookmark.firm_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/bookmarks/<%= bookmark.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/bookmarks/<%= bookmark.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_bookmark/<%= bookmark.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
