<div class="page-header">
  <h1>
    Targets
    <a href="/bookmarks/new" class="btn btn-lg btn-success">New Target</a>
  </h1>
</div><div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => collapse_search_form, :id => "bookmarks_filters" do |f| %>
      <p class="lead">Narrow results:</p>

<div class="form-group">
      <%= f.label :firm_name_cont, "Firm name contains" %>
      <%= f.text_field :firm_name_cont, :class => "form-control", :placeholder => "Firm name contains" %>
    </div>

      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/bookmarks" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#bookmarks_filters">
      Show Filters
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Firm</th>
        <th>Address</th>
        <th>Actions</th>
      </tr>

      <% @bookmarks.each do |bookmark| %>
      <tr>
        <td>
          <% if bookmark.firm.present? %>
            <a href="/firms/<%= bookmark.firm.id %>">
              <%= bookmark.firm.name %>
            </a>
          <% end %>
        </td>
        <td>
          <% if bookmark.firm.present? %>
          <%= bookmark.firm.mappable_address %>
          <% end %>
        </td>
        <td>
          <form action="/delete_bookmark/<%= bookmark.id %>">
          <button class="btn btn-link">
                  <i class="fa fa-heart"></i>
                </button>
                </form>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @bookmarks, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
